html {
	position: relative;
	min-height: 100%;
}

body {
text-align: center;
background: url("../images/brick.png");
margin: 0 0 100px;
}

/* SECTION 1  */
h1 {
width: 100%;
text-align: center;
margin: 10px 10px 10px 10px;
display: flex;
justify-content: center;
padding-bottom: 10px;
text-shadow: 7px 7px 7px #CCCCCC;
}

/* container div  */
.container{
	margin: 0 auto;
	text-align: center;
	padding: 0px;
	width: 400px;
}

.form-group {
	display: inline-block;
	align: center;
	margin: auto;
	width: 50%;
	margin-bottom: 10px;
	border-radius: 15px;
	margin-left: 20px;
}

.submit {
  background: black;
  border: solid black;
	margin-top: 20px;
	align: center;
	margin: auto;
	border-radius: 15px;
	margin-left: 30px;
}
/* ////////////////////////////////// */

/* SECTION 2 */


.card-link {
	text-align: center;
}

img {
	height: 250px;
	width: 400px;
}

.political-spectrum {
	width: 90%;
	margin: auto;
	border-radius: 15px;
	height: 30px;
	margin-top: 50px;
	margin-bottom: .5px;
	border: solid grey 1.5px;
	opacity: .9;
}


/*//////////////////////////////////// */

/* SECTION 3 */

.display {
	display: none;
}

.card-deck {
	margin: 10px 10px;
	padding: 20px 0;
	margin-top: 2px;
	margin-bottom: 25px;
}

.articles {
	border-radius: 20px;
}


.card-body {
    margin: 10px 10px 10px 10px;
}

.card2 {
    float: right;

}

.card1 {
    float: left;

}

.mb-3 {
    width: 40%;
    margin: 10px 10px 10px 10px;
    margin-bottom: 30px;

}
/*//////////////////////////////////// */

/* SECTION 4 */
.mb-3 {
	margin: auto;
	border-radius: 15px;
	font-size: 20px;
	padding: 20px;
	border: 1px white solid;
	width: 40%;
}

#left_selected_image {
	height: 250px;
	margin: 2px 2px 2px 2px;
}

#right_selected_image {
	height: 250px;
	margin: 2px 2px 2px 2px;
}

/* .division {
	border-style: solid;
	border-color: black
	border-width: 2px 0px 2px;
} */


/* CAROUSEL */

.slider {
        width: 20%;
        margin: 100px auto;
        height: 5px;
        margin-top: 7px;
        margin-bottom: 200px;
}

.slick-slide {
    /* margin: 2px 2px 2px 2xpx; */
    transition: all ease-in-out .3s;
    opacity: .2;
    padding: 5px;
}

.slick-slide button {
    width: 50%;
    border-style: ridge;
    border-color: black;
    border-width: small;
    height: 30px;
    background-color: #F0F8FF;
    border-radius: 10px;
    margin: auto;
}

.slick-prev:before,
.slick-next:before {
    color: grey;
    position: relative;
    right: 50px;
}




.slick-active {
    opacity: 1;
}

.slick-current {
    opacity: 1;
}





footer {
	position: absolute;
	font-size: 8px;
	left: 0;
	bottom: 0;
  width: 100%;
  height: 55px;
  line-height: 60px;
  background-color: #C0C0C0;
	opacity: 1;
}
/*//////////////////////////////////// */

/*MARIA WUZ HERE*/

.card-body li.Nyt_article_list:hover
{
  background-color: blue;
	color: white;
}

.card-body li.Wsj_article_list:hover
{
  background-color: purple;
	color: white;
}

.card-body li.Bb_article_list:hover
{
  background-color: red;
	color: white;
}
